# Supabase — ambil dari: https://supabase.com/dashboard/project/YOUR_PROJECT/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://tjnpvvzzxqszjtkkeekx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRqbnB2dnp6eHFzemp0a2tlZWt4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2Mjk5MTQsImV4cCI6MjA5NjIwNTkxNH0.X66OrZN1Cn7Zc1DCpOLFtwgXEM2kUuGMIkrYRk-rZ_Q
# Supabase Service Role (RAHASIA — jangan commit, hanya untuk server-side)
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRqbnB2dnp6eHFzemp0a2tlZWt4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDYyOTkxNCwiZXhwIjoyMDk2MjA1OTE0fQ.P05ufkiXapQaQg8hMgMNrmGTm_RQnTFfptIBgR2m_gs

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=SIMBUBALADA
NEXT_PUBLIC_APP_ORG=Pemerintah Kota Batu
